
.aep-cf7{
	min-height:200px
}
.aep-cf7 .wpcf7 input[type="text"], .aep-cf7 .wpcf7 input[type="email"], .aep-cf7 .wpcf7 textarea{
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.aep-cf7 .wpcf7 input[type="submit"]{
	display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.aep-cf7 .wpcf7-form{
    float: left;
    /* width: auto; */
    margin: 0;
    padding: 0;
}
.aep-cf7 .aep-cf7 {
    display: table;
	margin:0 auto
}
.aep-cf7 .wpcf7-form label{
	width:100%;
	font-weight: 400;
	font-size: 14px;
}
.style-1.aep-cf7 .wpcf7 input[type="text"]:focus, 
.style-1.aep-cf7 .wpcf7 input[type="email"]:focus, 
.style-1.aep-cf7 .wpcf7 textarea:focus{ 
	outline:none;
	border-bottom:1px solid #333
}
.style-1.aep-cf7 .wpcf7 input[type="text"], 
.style-1.aep-cf7 .wpcf7 input[type="email"], 
.style-1.aep-cf7 .wpcf7 textarea{ 
	border:none;
	border-bottom:1px solid #ddd;
}

.style-2.aep-cf7 .wpcf7 input[type="text"], 
.style-2.aep-cf7 .wpcf7 input[type="email"], 
.style-2.aep-cf7 .wpcf7 textarea{ 
	border:none;
	border-bottom: 1px dashed #83A4C5;
}
.style-2.aep-cf7 .wpcf7 input[type="text"]:focus, 
.style-2.aep-cf7 .wpcf7 input[type="email"]:focus, 
.style-2.aep-cf7 .wpcf7 textarea:focus{ 
	outline:none;
	border-bottom:1px dashed #333
}
